@charset "UTF-8";

/* TEMP */

.showroom,
.showroom .content {
  display: block !important;
  height: auto !important;
}

.swiper-container {
  margin: 0 auto;
  /* position: absolute !important; */
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 99;
  width: 100%;
  height: 80%;
  left: 0;
}

.swiper-slide {
  width: 100% !important;
  left: 0 !important;
}

.swiper-button-next,
.swiper-button-prev {
  width: 50px !important;
  height: 50px !important;
  margin-top: -25px !important;
  top: 45% !important;
  background-image: none !important;
  background: rgba(0,0,0,0.3);
  padding: 1em 0;
}

.swiper-button-prev {
  left: 0 !important;
  margin-left: .3em;  
}

.swiper-button-next {
  right: 0 !important;
  margin-right: .3em;
}

.swiper-button-next svg,
.swiper-button-prev svg {
  width: 50px;
  height: 50px;
}

.swiper-container svg path {
  fill: #d9a53a;
}


/* FONT */

body {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 3rem;
  margin: .5em 0 .2em;
  text-transform: uppercase;
  z-index: 10;
}

h2.bg {
	display: none;
  position: absolute;
  text-indent: -20px;
  font-size: 10rem;
  margin-top: -20px;
  z-index: 0;
  color: #333;
}

.item {
  font-size: 1.2rem;
}

.item .text {
  padding: .2rem .5rem;
}

.atom {
  line-height: 1.3;
}



/* COLOR */

body {
  background: #222;
}

body,
a {
  color: #eee;
}

h2 a,
.footer,
.footer a,
.footer .item {
  color: #d9a53a;
}

.item {
  color: #eee;
}

.item,
.showroom img {
  background: #1c1c1c;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.35);
}

.navigation .item,
.mobile-navigation .item,
.showroom .item,
.footer .item {
  background: none;
  box-shadow: none;
}
.footer {
  background: #1c1c1c;
}

/* CSS */

body {
  margin: 0;
  height: 100%;
}

::-webkit-scrollbar {
    display: none;
}

* {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

*:hover {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

img {
  display: block;
  width: 100%;
  height: auto;
  border: none;
}

.img-p {
  display: none;
}

.main {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.main > * {
  position: relative;
  height: auto;
  display: grid;
  z-index: 20;
}

h2,
.content {
  width: 100%;
  max-width: 960px;
  height: auto;
  left: 50%;
  margin-left: -480px;
  position: relative;
}

.content {
  display: grid;
  grid-gap: 5px;
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);
}

div[class*="btn-"] {
  cursor: pointer;
}

.item,
.showroom img {
  overflow: hidden;
  margin: 0;
  padding: 0;
  border-radius: 2px;
  position: relative;
}

.navigation .item {
  padding: 1em 2.5em;
}

/* CUSTOM */

/* FONT */

.navigation .item {
  font-size: 1.4rem;  
  font-weight: 200;
}

.brands .item .text .atom:nth-child(1) {
  font-size: 1.6rem;
  font-weight: 300;
}


/* COLOR */

.navigation .item {
  background: #d9a53a;color: #444;
}

.brands .item .text {
  color: #eee;
}

.item .text .atom:nth-child(1) {
  color: #d9a53a;
}

.navigation .item:nth-child(1) {
}




/* FONT */

/* CSS */

.stage {
  z-index: 25;
}

.stage,
.brands,
.showroom,
.team,
.contact {
  padding-bottom: 1em;
}

.stage .img-1 {
  opacity: .8;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.stage .img-2 {
  position: absolute;
  top: 20%;
  width: 400px;
  margin-left: -200px;
  left: 50%;
}

.navigation {
  position: absolute;
  bottom: -1em;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  padding: .5em;
  box-sizing: border-box;
  /* background: rgba(0,0,0,0.1); */
}

.navigation .item {
  margin: 0 .1em;
}

.brands .text {
  z-index: 20;
  background: rgba(0,0,0,0.5);
  box-sizing: border-box;
}

.brands .text {
  position: absolute;
  width: 100%;
  height: auto;bottom: 0;
}

.brands .img {
  position: relative;
}

.brands img {
  position: relative;
/*   -webkit-filter: grayscale(1); */
/*   filter: grayscale(1); */
}

.team .content,
.contact .content {
  justify-items: center;
}

.team .text,
.contact .text {
  padding: .5em 4em;
}

.showroom .content {
  display: block;
}

.showroom .img {
  display: grid;
  grid-gap: 5px;
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);
}

.team .content {
  grid-template: repeat(1, 1fr) / repeat(3, 1fr);
}

.contact .content {
  grid-template: repeat(1, 1fr) / repeat(2, 1fr);
}

.main .footer {
  display: block;
}

.footer .footer,
.footer .copyright {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 1em 0;
  flex-wrap: wrap;
  text-align: center;
}

.footer .footer .item {
  padding: 1em 1em;
}

.mobile-navigation {
  display: none;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  width: 100%;
  height: auto;
  background-color: rgba(217, 164, 59, 0.9);
  position: fixed;
  bottom: 0;
  z-index: 21;
  box-shadow: 0 -1px 2px rgba(0,0,0,0.5);
}

.mobile-navigation .item {
  padding: 1em;
  border-radius: 0;
}

.wrapper {
  position: absolute;
  background: rgba(34, 34, 34, 0.95);
  width: 100%;
  height: 0;
  opacity: 0;
  z-index: 50;
  padding: 0 5em;
  overflow: auto;
  box-sizing: border-box;
  cursor: zoom-out;
  text-align: justify;
  -webkit-overflow-scrolling: touch;
  bottom: 0;
}

.wrapper-active {
  height: 100%;
  opacity: 1;
  position: fixed;
  padding: 5em;
}

.wrapper > * {
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.wrapper-item-active {
  opacity: 1;
  height: 100%;
  overflow: hidden;
  position: static;
}

.wrapper strong {
  color: #d9a53a;
  font-size: 1.8rem;
  font-weight: 300;
}

.script {
  position: absolute !important;
  height: 0 !important;
  overflow: hidden;
}

@media screen and (max-width: 960px) {

h2,
.content {
  max-width: 98%;
  margin-left: 0;
  left: 1%;
}

.content,
.showroom .img {
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
}

}

@media screen and (max-width: 600px) {

/* FONT */

body {
  font-size: 4.2vw;
}

.navigation .item {
  font-size: 5vw;
}

.footer {
  font-size: 3vw;
}  

/* COLOR */
    
.footer .item,
.mobile-navigation .item {
  background: none;
  box-shadow: none;
}
    
/* CSS */
.stage {
  height: 100%;
}

.stage .img-2 {
  top: 30%;
  width: 300px;
  margin-left: -150px;
}

.img-p {
  display: block;
}

.img-l {
  display: none;
}

.navigation {
  display: block;
  bottom: 1em;
  text-align: center;
  background: none;
}

.navigation .item {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vh 0;
  margin: 3px 0;
/*   -webkit-backdrop-filter: saturate(180%) blur(5px); */
/*   backdrop-filter: saturate(180%) blur(5px); */
  background-color: rgba(217, 164, 59, 0.8);
}

.navigation .item:nth-child(1) {
  width: 100%;
}

a.item:active {
  background-color: rgba(0, 0, 0, 0.7);
}

.stage .img-2 {
  top: 15%;
}

h2 {
  font-size: 10vw;
}

.item,
.brands .item .text {
  font-size: 4.2vw;
}

.content,
.showroom .img {
  grid-template: repeat(1, 1fr) / repeat(2, 1fr) !important;
}

.team .content,
.contact .content {
  padding: 0;
  grid-template: repeat(1, 1fr) / repeat(2, 1fr) !important;
  justify-items: stretch;
}

.team .text,
.contact .text {
  padding: .5em;
}


.team .item,
.contact .item {
  background: none;
  box-shadow: none;
}

.mobile-navigation {
  display: flex;
}

.wrapper {
  padding: 0 1em;
}

.wrapper-active {
  padding: 1em;
}
}

@media screen and (max-width: 380px) {

}

@supports not (display: grid) {

.main > * {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
}

.content,
.showroom img {
  display: flex;
  flex-wrap: wrap;
  float: left;
}

.brands .item {
  width: 25%;
}
.team .item {
  width: 33%;
}
.contact .item {
  width: 50%;
}
.showroom img {
  width: 25%;
}

.footer .footer,
.footer .copyright {
  justify-content: center;
}

}

@supports not (display: flex) {

.footer .footer,
.footer .copyright {
  justify-content: center;
}

}





